.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  background-color: white;
  width: 500px;
  margin-top: 50px;
  padding: 50px 0px;
  box-shadow: 2px 2px 2px 1px;
  font-size: 17px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
  width: 300px;
}

.info > div{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.dataInfo{
  background-color: gray;
  width: 300px;
  border-radius: 5%;
  padding: 15px 0px;
  margin-top: 50px;
  font-weight: bold;
  color: white;
}

