<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.car_shop.sale.mapper.SaleMapper">
    <resultMap id="sale" type="com.green.car_shop.sale.dto.SaleDTO">
        <id  property="salesNo"    column="SALES_NO"/>
        <result property="buyerName"   column="BUYER_NAME"/>
        <result property="buyerPhone"  column="BUYER_PHONE"/>
        <result property="color"       column="COLOR"/>
        <result property="salesDate"   column="SALES_DATE"/>
        <result property="modelNo"     column="MODEL_NO"/>
        <association property="carDTO" resultMap="com.green.car_shop.car.mapper.CarMapper.car"/>
    </resultMap>

<!--  판매 정보 등록 쿼리 -->
    <insert id="regSale">
        INSERT INTO SALES_INFO (
            BUYER_NAME
            , BUYER_PHONE
            , COLOR
            , MODEL_NO
        ) VALUES (
            #{buyerName}
            , #{buyerPhone}
            , #{color}
            , #{modelNo}
        )
    </insert>

<!--  판매 목록 조회 쿼리  -->
    <select id="getSales" resultMap="sale">
        SELECT SALES_NO
            , BUYER_NAME
            , BUYER_PHONE
            , COLOR
            , SALES_DATE
            , S.MODEL_NO
            , MODEL_NAME
            , PRICE
        FROM SALES_INFO S, CAR_INFO C
        WHERE S.MODEL_NO = C.MODEL_NO
        ORDER BY SALES_DATE DESC
    </select>
</mapper>































