<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.board.mapper.BoardMapper">
	<resultMap id="board" type="com.green.board.dto.BoardDTO">
		<id 	column="BOARD_NUM"	    property="boardNum"/>
		<result column="TITLE" 			property="title"/>
		<result column="WRITER" 		property="writer"/>
		<result column="CONTENT" 		property="content"/>
		<result column="READ_CNT" 		property="readCnt"/>
		<result column="CREATE_DATE"    property="createDate"/>

	</resultMap>

	<resultMap id="reply" type="com.green.board.dto.ReplyDTO">
		<id 	column="REPLY_NUM" 		property="replyNum"/>
		<result column="CONTENT" 		property="content"/>
		<result column="WRITER" 		property="writer"/>
		<result column="REG_DATE" 		property="regDate"/>
		<result column="BOARD_NUM" 		property="boardNum"/>

	</resultMap>

	<select id="getList" resultMap="board">
		SELECT BOARD_NUM
			, TITLE
			, WRITER
			, READ_CNT
			, CREATE_DATE
		FROM BASIC_BOARD
		ORDER BY BOARD_NUM DESC
	</select>

	<insert id="insertBoard">
		INSERT INTO BASIC_BOARD (
			TITLE
			, WRITER
			, CONTENT
		) VALUE (
			#{title}
			, #{writer}
			, #{content}
		)
	</insert>

	<select id="getDetail" resultMap="board">
		SELECT CREATE_DATE
			, WRITER
			, READ_CNT
			, TITLE
			, CONTENT
		FROM BASIC_BOARD
		WHERE BOARD_NUM = #{boardNum}
	</select>

	<update id="cnt">
		UPDATE BASIC_BOARD
		SET	READ_CNT = READ_CNT + 1
		WHERE BOARD_NUM = #{boardNum}
	</update>

	<update id="updateBoard">
		UPDATE BASIC_BOARD
		SET
			TITLE = #{title}
			, CONTENT = #{content}
		WHERE BOARD_NUM = #{boardNum}
	</update>

	<delete id="deleteBoard">
		DELETE FROM BASIC_BOARD
		WHERE BOARD_NUM = #{boardNum}
	</delete>

	<select id="getTitleList" resultMap="board">
		SELECT BOARD_NUM
		, TITLE
		, WRITER
		, READ_CNT
		, CREATE_DATE
		FROM BASIC_BOARD
		WHERE TITLE = #{title}
		ORDER BY BOARD_NUM DESC
	</select>

	<select id="getWriterList" resultMap="board">
		SELECT BOARD_NUM
		, TITLE
		, WRITER
		, READ_CNT
		, CREATE_DATE
		FROM BASIC_BOARD
		WHERE WRITER = #{writer}
		ORDER BY BOARD_NUM DESC
	</select>

	<insert id="regReply">
		INSERT INTO BOARD_REPLY (
			WRITER
			, CONTENT
			, BOARD_NUM
		) VALUE (
			#{writer}
			, #{content}
			, #{boardNum}
		)
	</insert>

	<select id="getReplyList" resultMap="reply">
		SELECT WRITER
			, REG_DATE
			, CONTENT
			, REPLY_NUM
		FROM BOARD_REPLY
		WHERE BOARD_NUM = #{boardNum}
		ORDER BY REPLY_NUM DESC
	</select>

	<delete id="deleteReply">
		DELETE FROM BOARD_REPLY
		WHERE REPLY_NUM = #{replyNum}
	</delete>

	<delete id="deleteBoardReply">
		DELETE FROM BOARD_REPLY
		WHERE BOARD_NUM = #{boardNum}
	</delete>


</mapper>































