.container{
  text-align: center;
}

.container > h2{
  font-style: italic;
  font-weight: bold;
  color: darkgray;
}

.detailTable{
  margin: 15px 0px;
  width: 100%;
}


.detailTable > tr, td {
  border: 2px solid white;
}

.detailTable > tbody > tr > td:nth-child(odd){
  background-color: darkgrey;
  color: white;
  font-weight: bold;
}

.detailTable > tbody > tr > td:nth-child(even){
  background-color: whitesmoke
}

.titleTd, .contentTd{
  text-align: left;
}

.contentTd{
  height: 300px;
  vertical-align: top;
}

.btnDiv{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btnDiv > button{
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}