.container{
  text-align: center;
}

.searchDiv{
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-bottom: 10px;
}

.listTable{
  font-size: 15px;
  width: 100%;
}

.listTable > tr, td {
  border: 2px solid white;
}

.listTable > tbody > tr > td{
  padding: 8px
}

.listTable > thead {
  background-color: black;
  color: white;
  font-weight: bold;
}

.listTable > tbody > tr:nth-child(even){
  background-color: gainsboro;
}

.listTable > tbody > tr:nth-child(odd){
  background-color: whitesmoke
}

.listTable > tbody > tr:hover{
  background-color: dimgrey;
  color: white;
  font-weight: bold;
}
  
.listTable > tbody > tr > td:nth-child(2){
  text-align: left;
}



.listDiv > button{
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.searchDiv > button{
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}