.container{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.reg{
  margin: 40px 0px;
  font-size: 18px;
  width : 60%
}

.reg > tr, td {
  border: 2px solid white;
  padding: 10px;
  vertical-align: middle;
}

.reg > tbody > tr:nth-child(even){
  background-color: darkgrey;
}

.reg > tbody > tr:nth-child(odd){
  background-color: gainsboro;
}

.titleText, .writerText, .contentArea{
  width: 80%;
  font-size: 18px;
}

.reg > tbody > tr > td:first-child{
  width: 200px;
  font-weight: bold;
}
