.container{
  text-align: center;
}

.container > h2{
  font-style: italic;
  font-weight: bold;
  color: darkgray;
}

.updateTable{
  margin: 15px 0px;
  width: 100%;
}

.updateTable > tr, td {
  border: 2px solid white;
}

.updateTable > tbody > tr > td:nth-child(odd){
  background-color: darkgrey;
  color: white;
  font-weight: bold;
}

.updateTable > tbody > tr > td:nth-child(even){
  background-color: whitesmoke
}

.titleText, .writerText, .contentArea{
  width: 100%;
  font-size: 16px;
}

.btnDiv{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btnDiv > button{
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}