body{
  background-color: #d9fdff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: white;
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding: 60px 60px;
  font-size: 11px;
}



.content{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 50px;
}

.content > input , select{
  height: 40px;
  padding: 0px 15px;
  font-size: 11px;
  border: 1px solid lightgray;
}

.content > div > input , select{
  height: 40px;
  padding: 0px 15px;
  font-size: 11px;
  border: 1px solid lightgray;
}

.content > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date > select{
  width: 110px;
}

.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.btn > input{
  height: 4opx;
  padding: 7px 20px;
  color: white;
  border: none;
  border-radius: 5px;
}

span{
  color: red;
}