.container{
  border: 1px solid lightgray;
  margin: 100px auto;
  width: 500px;
  height: 870px;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
}

.content{
  margin: 60px 30px 10px 30px; 
}

.c1{
  margin-bottom: 90px;
}

.c2{
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.c2 > input{
  font-size: 19px;
  padding: 15px;
}

.c3{
  font-size: 17px;
  letter-spacing: -1px;
}

.c4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  color: white;
  height: 70px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 2%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.c5{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: skyblue;
  font-size: 20px;
}