.container{
  width: 600px;
  height: 500px;
  border: 3px solid black;
  margin: 30px auto;
}

div{
  border: 3px solid black;
}

.header{
  height: 15%;
  border-color: blue;
}

.main{
  display: flex;
  height: 70%;
  border-color: red;
}

.main > div:first-child{
  width: 15%;
  border-color: orange;
}

.main > div:last-child{
  width: 85%;
  border-color: orange;
}

.footer{
  height: 15%;
}