body{
  background-color: lightslategray;
}

.container{
  background-color: white;
  padding: 14px;
  margin: 30px auto;
  width: 80%;
}



.info > p:first-child{
  background-color: lightpink;
  color: white;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  margin: 0px auto;
  padding: 4px 0px;
}

.info > p:nth-child(2){
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 450px);
  gap: 10px;
}

.item{
  position: relative;
}

.item > img{
  width: 100%;
  height: 100%;
}

.intro{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* 투명도, 선명도 */
  opacity: 0;
  transition: all 0.5s;
}

.icon-div > span:hover{
  cursor: pointer;
  color: lightskyblue;
}

.intro:hover{
  opacity: 1;
  
}