.container{
  margin: 0px auto;
  width: 1200px;
  height: 800px;
}

.title{
  height: 100px;
  background-color: #0c51a6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title > p{
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin: 2.5%;
}

.title > div{
  background-color: #0a4288;
  height: 60px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.intro{
  height: 300px;
  width: 100%;
  position: relative;
}

.intro > img{
  width: 100%;
  height: 100%;
}

.intro > div{
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  position: absolute;
  height: 100px;
  top: 100px;
  left: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.intro > div > p:first-child{
  font-size: 35px;
  font-weight: bold;
}

.intro > div > p:last-child{
  font-weight: bold;
}

.menu{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu_1{
  background-color: #e5f1ff;
  width: 400px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu_1 > p:first-child{
  font-size: 25px;
  font-weight: bold;
}

.menu_1 div{
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_2{
  width: 400px;
  position: relative;
}

.menu_2 > div{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px ;
}

.menu_2 > div > p{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.menu_2 > div > button{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.menu_3{
  width: 400px;
}

.menu_3 > img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.under{
  width: 100%;
  height: 80px;
  background-color: #e7e7e7;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.under > p{
  font-size: 25px;
  font-weight: bold;
  color: gray;
}

.under > div{
  width: 800px;
  height: 80px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.under > div > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

