body{
  background-color: #caf4ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

body > div{
  background-color: white;
  width: 350px;
  height: 100px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

body > div:hover{
  scale: 1.3;
  transition: 0.5s;
}

img{
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

img:hover{
  scale: 2;
  transition: 0.3s;

}

div > div > p:last-child{
  color: #999794;
}

div > div > p:first-child{
  font-size: 20px;
}

/* scale : 1.2; */