table{
  margin: 10% auto;
  width: 60%;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
}

thead{
  border-top: 3px solid black;
  border-bottom: 1px solid lightgray;
}

tbody >tr{
  border-bottom: 1px solid lightgray;
}

tbody >tr:nth-child(even){
  background-color: lightsteelblue;
}

tbody > tr > td:nth-child(3){
  text-align: left;
}