.container{
  text-align: center;
  width: 70%;
  margin: 20% auto;
}

table{
  width: 100%;
  border: 1px solid black;
}

tr{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

.right1, .right2{
  text-align: right;
}

.right2{
  margin-top: 15px;
}

.red{
  text-align: left;
  font-size: 10px;
  text-align: left;
  color: red;
  margin-bottom: 10px;
}