body{
  background-color: #e0ffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  border: none;
  border-radius: 20px;
  width: 500px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 2px lightgray;
}

.img-div{
  overflow: hidden;
  position: relative;
}

.img-div > i{
   position: absolute; 
   top: 20px; 
   right: 20px; 
   color: white; 
   cursor: pointer;
}

.img-div > i:active{
  color: red;
}

.house{
  width: 100%;
  height: 100%;
}

.house:hover{
  scale: 1.2;
  transition: 1s;
}

.info{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.room{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p1{
  display: flex;
  flex-direction: row;
}

.btn{
  background-color: #32cd32;
  border: none;
  border-radius: 10px;
  width: 110px;
  height: 35px;
  color: white;
  cursor: pointer;
}

hr{
  border-color: lightgray;
}


