.test4_container{
  display: flex;
  gap: 10px;
}

.test4_container > div{
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
}