.div1 {
  background-color: red;
  width: 350px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.div2 {
  background-color: blue;
  width: 350px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}

