<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>태그 접근 및 속성값 제어</h3>
    <input type="text" id="num1">+
    <input type="text" id="num2">
    <button type="button" onclick="cal()">계산</button>
    <input type="text" id="result">

    <hr>

    <h3>그림그리기</h3>

    <button type="button" onclick="addRow()">행추가</button>
    <table border="1" id="table">
        <thead>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>


    <script src="/js/test1.js"></script>
</body>
</html>