.container{
  margin: 30px 0px;
  text-align: center;
}

.menu{
  display: flex;
  gap: 15px;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.menu > input{
  margin-left: 200px;
  border: 1px solid lightgrey;
  width: 300px;
}

.imgDiv{
  overflow: hidden;
  height: 400px;
}

.img1 {
  width: 100%;
  height: 80%;
}

.iconDiv{
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 40px;
}

.iconDiv > div{
  background-color: #f78e21;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.iconDiv > div > i {
  background-color: white;
  color: #f78e21;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  line-height: 60px;
}

.msgDiv{
  margin-top: 450px;
  width: 400px;
  overflow
}