.list_table{
  width: 100%;
  text-align: center;
}

.list_table > thead > tr:first-child{
  background-color: rgb(0, 0, 0);
  color: white;
  vertical-align: middle;
}

.list_table > thead > tr:nth-child(2){
  background-color: rgb(117, 114, 114);
  color: white;
}

.list_table > tbody > tr:nth-child(odd){
  background-color: rgb(253, 249, 241);
  transition: 0.15s;
}

.list_table > tbody > tr:nth-child(even){
  background-color: rgb(253, 244, 244);
  transition: 0.15s;
}

.list_table > tbody > tr:nth-child(odd):hover{
  background-color: rgba(0,0,0,0.1);
}

.list_table > tbody > tr:nth-child(even):hover{
  background-color: rgba(0,0,0,0.1);
}


.list_table > tbody > tr > td{
  vertical-align: middle;
}

.list_table td{
  border-left: 1px solid white;
  padding: 5px;
}